@{
  //MixModules.ReadMvcViewModel mdl = MixCmsHelper.GetModule("latest_blog_posts", ViewBag.culture);  
  // https://api-docs.mixcore.org/api/Mix.Domain.Data.Repository.ViewRepositoryBase-3.html
  //GetModelListByAsync
  
  var posts = await MixPosts.ReadMvcViewModel.Repository.GetModelListAsync(
        "CreatedDateTime",
        MixHeartEnums.DisplayDirection.Desc,2,0);

  var hightlightedPosts = await MixPosts.Helper.SearchPostByField<MixPosts.ReadMvcViewModel>("is_highlighted", "true", ViewBag.culture);

    Dictionary<string, object> dic = new Dictionary<string, object>();
    dic["aa"] = 1;
    dic["bb"] = 2;
    JObject obj = JObject.FromObject(dic);

  string culture = ViewBag.culture;
        
  var posts2 = await MixPosts.ReadMvcViewModel.Repository.GetModelListByAsync(
        //m => m.AttributeData.Data.Obj.is_highlighted == true,
        (m => m.Specificulture == culture),// && m.attributeData != null,
        //m => m.AttributeData.,
        "CreatedDateTime",
        MixHeartEnums.DisplayDirection.Desc,2,0);
//posts2.Data.Items[0].AttributeData
}

<script>
    console.log('HighlightedPosts Model', @Json.Serialize(obj))
</script>

        <!--     *********     BLOGS 1      *********      -->
        <div class="blogs-1" id="blogs-1">
          <div class="container">
            <div class="row">
              <div class="col-md-10 ml-auto mr-auto">
                <h2 class="title">Highlighted Blogposts</h2>
                <br>
                @for(int i=0; i < posts.Data.Items.Count ; i++){
                  if(i==0){
                <div class="card card-plain card-blog">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="card-header card-header-image">
                        <a href="/post/@posts.Data.Items[i].Id/@(posts.Data.Items[i].SeoName).html">
                          <img class="img" src="@posts.Data.Items[i].ImageUrl">
                        </a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <h6 class="card-category text-info">@posts.Data.Items[i].ListCategory.FirstOrDefault()</h6>
                      <h3 class="card-title">
                        <a href="/post/@posts.Data.Items[i].Id/@(posts.Data.Items[i].SeoName).html">@posts.Data.Items[i].Title</a>
                      </h3>
                      <p class="card-description">
                        @posts.Data.Items[i].Excerpt
                        <a href="/post/@posts.Data.Items[i].Id/@(posts.Data.Items[i].SeoName).html"> Read More </a>
                      </p>
                      <p class="author"> 
                        by
                        <a href="/post/@posts.Data.Items[i].Id/@(posts.Data.Items[i].SeoName).html">
                          <b>@posts.Data.Items[i].CreatedBy</b>
                        </a>, @posts.Data.Items[i].CreatedDateTime
                      </p>
                    </div>
                  </div>
                </div>
                  }else{
                <div class="card card-plain card-blog">
                  <div class="row">
                    <div class="col-md-7">
                      <h6 class="card-category text-danger"> 
                        @posts.Data.Items[i].ListCategory.FirstOrDefault() 
                      </h6>
                      <h3 class="card-title">
                        <a href="/post/@posts.Data.Items[i].Id/@(posts.Data.Items[i].SeoName).html">@posts.Data.Items[i].Title</a>
                      </h3>
                      <p class="card-description">
                        @posts.Data.Items[i].Excerpt
                        <a href="/post/@posts.Data.Items[i].Id/@(posts.Data.Items[i].SeoName).html"> Read More </a>
                      </p>
                      <p class="author">
                        by
                        <a href="/post/@posts.Data.Items[i].Id/@(posts.Data.Items[i].SeoName).html">
                          <b>@posts.Data.Items[i].CreatedBy</b>
                        </a>, @posts.Data.Items[i].CreatedDateTime
                      </p>
                    </div>
                    <div class="col-md-5">
                      <div class="card-header card-header-image">
                        <img class="img img-raised" src="@posts.Data.Items[i].ImageUrl">
                      </div>
                    </div>
                  </div>
                </div>
                  }
                
                
                }
              </div>
            </div>
          </div>
        </div>
        <!--     *********    END BLOGS 1      *********      -->
