<div class="section text-center">
    <h2 class="title">Here is our team</h2>
    <div class="team">
        <div class="row">
            @foreach(var item in Model.Data.Items){
            <div class="col-md-4">
                <div class="team-player">
                <div class="card card-plain">
                    <div class="col-md-6 ml-auto mr-auto">
                    <img src="@item.Property("image_url")" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                    </div>
                    <h4 class="card-title">@item.Property("name")
                    <br>
                    <small class="card-description text-muted">@item.Property("position")</small>
                    </h4>
                    <div class="card-body">
                    <p class="card-description">
                        @item.Property("bio")
                    </p>
                    </div>
                    <div class="card-footer justify-content-center">
                    <a href="@item.Property("twitter_url")" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                    <a href="@item.Property("instagram_url")" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                    <a href="@item.Property("facebook_url")" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                    </div>
                </div>
                </div>
            </div>
            }
            
            <div class="col-md-4">
                <div class="team-player">
                <div class="card card-plain">
                    <div class="col-md-6 ml-auto mr-auto">
                    <img src="https://image.flaticon.com/icons/png/512/25/25231.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid"> 
                    </div>
                    <h4 class="card-title"><a href="https://github.com/mixcore/mix.core/graphs/contributors" target="_blank">View more...</a>
                    <br>
                    <small class="card-description text-muted">Contributors</small>
                    </h4>
                    <div class="card-body">
                    <p class="card-description">
                        Thanks a lot to everyone in the world!
                    </p>
                    </div>
                    <div class="card-footer justify-content-center">
                    
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
