<div class="page-header header-filter" data-parallax="true" style="background-image: url('https://demos.creative-tim.com/material-kit/assets/img/bg2.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">@(Model.Property<string>("title"))</h1>
          <h4>@(Model.Property<string>("desc"))</h4>
          <br>
          <a href="@(Model.Property<string>("url"))" target="_blank" class="btn btn-danger btn-raised btn-lg">
            <i class="@(Model.Property<string>("url_icon"))"></i> @(Model.Property<string>("url_title"))
          </a>
        </div>
      </div>
    </div>
  </div>
